.btn-custom {
  background-color: #37493c !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3ded6", endColorstr="#36483b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d3ded6), to(#36483b));
  background-image: -moz-linear-gradient(top, #d3ded6, #36483b);
  background-image: -ms-linear-gradient(top, #d3ded6, #36483b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3ded6), color-stop(100%, #36483b));
  background-image: -webkit-linear-gradient(top, #d3ded6, #36483b);
  background-image: -o-linear-gradient(top, #d3ded6, #36483b);
  background-image: linear-gradient(#d3ded6, #36483b);
  border-color: #36483b #36483b #161d18;
  color: #333 !important;
  font-weight: bold !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.99);
  -webkit-font-smoothing: antialiased; }

#nav-repo{
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  font-size: 1.2em;
  border: 1px solid black;
  margin-bottom: 15px;
}

h1{
  padding-bottom: 1em;
  border-bottom:  2px solid black;
}

#main-repo{
	padding-top: 6em;
}

caption{
  font-size: large;
  font-style: italic;
}

.hidden {
	display: none;
}

.show {
	display: block;
}